<%
if (posts.results.length > 2) {
%>
<hr class = "bomber-line" >
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <%for (var i = 0; i < 3 ; i++) {%>

        <div class="swiper-slide bomber-slide">
            <div class="row">
                <div class="col-sm-10 verticalLineL">
                    <h3><%=posts.results[i].createdAt.substring(8,10)%>/<%=posts.results[i].createdAt.substring(5,7)%>/<%=posts.results[i].createdAt.substring(0,4)%> : <%=posts.results[i].titlePost%></h3>
                    <h5>by <%=posts.results[i].authorPost%></h5>
                    <%=posts.results[i].textPost%>
                </div>
            </div>
        </div>

        <%}%>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: '.swiper-pagination',

        // Navigation arrows
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',

        // And if we need scrollbar
        scrollbar: '.swiper-scrollbar',
    })
</script>

<% } %>