<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Bomberman Accueil</title>

    <link rel=stylesheet href="/codemirror/lib/codemirror.css">
    <link rel=stylesheet href="/codemirror/doc/docs.css">

    <% include ./partials/header %>

    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/doc/activebookmark.js"></script>

    <style>
        .CodeMirror { height: 400px; border: 1px solid #ddd; }
        .CodeMirror-scroll { max-height: 500px; }
        .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
    </style>

</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<div>
    <div class="col-md-offset-1 col-md-9">
        <h2>Code ton Bomber !</h2>
        <form method="POST" action="/bomberCode">
            <input type="submit" value="Tester">
            <% if (msgError.length > 0) { %>
            <div class="alert alert-danger"> <%= msgError %> </div>
            <% } %>
            <% if (msgSuccess.length > 0) { %>
            <div class="alert alert-success"> <%= msgSuccess %> </div>
            <% } %>
            <div class="form-group">
                <label>Nom du Bomber :</label>
                <input type="text" class="form-control" name="name" value="<%=name%>" required>
            </div>
            <textarea id="bomberEditor" name="bomberEditor" ><%=code%></textarea>

            <input type="hidden" name="idBot" value = "<%= idBot %>">

        </form>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("bomberEditor"), {
                lineNumbers: true,
                mode: "javascript",
                matchBrackets: true,
                indentUnit : 4,

            });
        </script>
    </div>
</div>

</body>

<% include ./partials/footer %>
</html>
