<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Bomberman Accueil</title>

    <link rel=stylesheet href="/codemirror/lib/codemirror.css">
    <link rel=stylesheet href="/codemirror/doc/docs.css">

    <% include ./partials/header %>

    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/doc/activebookmark.js"></script>
	
    <style>
        .CodeMirror { height: 400px; border: 1px solid #ddd; }
        .CodeMirror-scroll { max-height: 500px; }
        .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
    </style>

</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<div>
    <div class="col-md-offset-1 col-md-9">
        <h2>Code ton Bomber !</h2>
        <form method="POST" id="formBomberCode" action="/bomberCode">
			<input type="button" onClick="validate('save')" value="Sauvegarder"><% if(idBot) { %><input id="buttonTestGame" type="button" onClick="validate('test')" value="Tester en partie" > <% } %>
			
			<input type = "hidden" value="<%=session.idUser%>" name = "idUser">
            <div class="alert alert-danger" id="msgError" style = "visibility:hidden"> <%= msgError %> </div>

            <% if (msgSuccess.length > 0) { %>
            <div class="alert alert-success" id="msgSuccess"> <%= msgSuccess %> </div>
            <% } %>
            <div class="form-group">
                <label>Nom du Bomber :</label>
                <input type="text" class="form-control" name="name" value="<%=name%>" required>
            </div>
			<div class="form-group">
                <label>Mode :</label>
                <Select name="modeBot">
					<option name="modeBot" value = "aggro" <% if(modeBot == "aggro"){ %> selected="selected" <% } %> >Aggro</option>
					<option name="modeBot" value = "peaceful" <% if(modeBot == "peaceful"){ %> selected="selected" <% } %> >Peaceful</option>
				</select>
            </div>

            <textarea id="bomberEditor" name="bomberEditor" ><%=code%></textarea>

            <input type="hidden" name="idBot" value = "<%= idBot %>">
			 <input type="hidden" name="avatarBot" value = "<%= avatarBot %>">

        </form>
        <script>
			var txtATest = document.getElementById("bomberEditor").value;
            var editor = CodeMirror.fromTextArea(document.getElementById("bomberEditor"), {
                lineNumbers: true,
                mode: "javascript",
                matchBrackets: true,
                indentUnit : 4,

            }).on('change', editor => {
				txtATest=editor.getValue();
				if(document.getElementById("buttonTestGame")){
					document.getElementById("buttonTestGame").style.visibility = "hidden";
				}
				
			});
			
        </script>
		<br>
		<div>
			<table class="table table-hover" >
				<thead>
				<tr >
					<th colspan = "2" style ="background-color:grey" >INFORMATION</th>
				</tr>
				<tr>
					<td colspan = "2"  style="background-color:white">
					
					- RAPPEL : ici on code en JS !<br>
					- Pour pouvoir utiliser les fonctions ou les variables d'environnement, veuillez utilisez le mot player.(exemple : player.move("left"); player.position;)<br>
					- Position est un objet qui contient un attribut x (abscisse) et y (ordonnee) correspondant aux coordonnee d'un objet
					- Pour recuperer les coordonnees d'un element (player, bomb,...) il vous faut employer la forme suivante : monObjet.position.x ou monObjet.position.y<br> 
					- Une classe bonus existe avec un attribut name correspondant à un bonus : soit powerUp, soit moreBomb
					- L'ensemble des variables et fonctions disponibles sont listees ci-dessous  


					</td>
				</tr>
				<tr>
					<th colspan = "2" style ="background-color:grey" >Environement</th>
				</tr>
				</thead>
				<tbody>
				<% 
				if(gameFunc){

					for(var i = 0; i<gameFunc.length; i++){		
						if(gameFunc[i].typeGameApiDesc == "variable"){
				%>
				<tr style="background-color:white">
					<td><%=gameFunc[i].nameGameApiDesc%></td>
					<td><%=gameFunc[i].descriptionGameApiDesc%></td>
				</tr>

				<% 
						}
					}

					for(var i = 0; i<gameFunc.length; i++){
						if(gameFunc[i].typeGameApiDesc == "function"){
				%>
				<tr style="background-color:white">
					<td><%=gameFunc[i].nameGameApiDesc%>(<%=gameFunc[i].paramGameApiDesc%>) : <%=gameFunc[i].returnGameApiDesc%></td>
					<td><%=gameFunc[i].descriptionGameApiDesc%></td>
				</tr>

				<% 
						}
					}
				}
				%>
				</tbody>
			</table>
		</div>
    </div>
</div>
</body>
<script src = "/js/jshint.js"></script>
<script src = "/js/js_validator.js"></script>

<% include ./partials/footer %>
</html>