<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title> Historique</title>
    <% include ./partials/header %>
</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<%
if(session.type){
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1 class="bomber-text"><i class="fa fa-history" aria-hidden="true"></i> Historique</h1>
        <% if (matchs) {
            matchs = JSON.parse(matchs);
            console.log(matchs.results);
        %>
        <table class="table table-hover table-responsive bomber-tabler">
            <% for (var i = 0; i < matchs.results.length; i++) {
            if (myId == matchs.results[i].idWinner) {%>
            <tr style="background-color: #5CB85C">
                <td><%=matchs.results[i].createdAt.substring(8,10)%>/<%=matchs.results[i].createdAt.substring(5,7)%>/<%=matchs.results[i].createdAt.substring(0,4)%></td>
                <td><%=matchs.results[i].idWinner%></td>
                <td>VS</td>
                <td><%=matchs.results[i].idLoose%></td>
            </tr>
            <%} else {%>
            <tr style="background-color: #D9534F">
                <td><%=matchs.results[i].createdAt.substring(8,10)%>/<%=matchs.results[i].createdAt.substring(5,7)%>/<%=matchs.results[i].createdAt.substring(0,4)%></td>
                <td><%=matchs.results[i].idWinner%></td>
                <td>VS</td>
                <td><%=matchs.results[i].idLoose%></td>
            </tr>
            <% }} %>
        </table>

        <% } %>
    </div>
</div>
<% } else { %>
<h1>Maintenance...</h1>
<% } %>

<% include ./partials/footer %>

</body>
</html>