<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>BomberBot</title>
    <% include ./partials/header %>
</head>
<body class="bomber-background">

<% include ./partials/navbar %>

<% if(!session.type) { %>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2 bomber-block ">
        <h2 class="bomber-text"><span class="fa fa-globe"></span>BomberBot</h2>
        <hr class = "bomber-line" >
        <div class="row">
            <div class="col-sm-8">
                <p class="bomber-text">Avec <b class="bomber-bold">BomberBot</b>, créez le bot le plus puissant et faites exploser tous vos ennemis !</p>
                <br>
                <p class="bomber-text">Grâce à la <b class="bomber-bold">Bomber-API</b> que nous vous proposons, développez l’IA de votre
                    bot et battez vous sans répit. Entrez dans l'arene pour affronter les autres joueurs et hissez vous parmis les meileurs du <a><b class="bomber-bold">classement</b></a></p>
                <br>
                <p class="bomber-text">Déjà <b class="bomber-bold"><%var count = JSON.parse(userCount)%><%=count.userCount%></b> poseurs de bombes inscrit !</p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <img src="/images/bomberman.png" style ="width:100%;"/>
            </div>
        </div>
    </div>

    <% if (top) {
        top = JSON.parse(top)
    if (top.result[0].length == 3) {%>
    <div class="col-sm-8 col-sm-offset-2 bomber-block" style="margin-top: 0px;">
        <h2 class="bomber-text"><span class="fa fa-globe"></span>Podium</h2>
        <hr class = "bomber-line" >
        <div class="row">
            <table class="table table-hover table-responsive bomber-tabler">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Bomber</th>
                    <th>Points</th>
                    <th>Joueur</th>
                </tr>
                </thead>
                <tbody>

                <%
                    var color = "#000"
                for(var i = 0 ; i < 3 ; i++) {
                    if (i == 0) {
                        color = "#ffd700"
                    } else if (i == 1) {
                        color = "silver"
                    } else {
                        color = "#8b4513"
                    }
                %>
                <tr>
                    <td bgcolor=<%=color%>><%=i+1%></td>
                    <td><%=top.result[0][i].nameBot%></td>
                    <td><%=top.result[0][i].pointBot%></td>
                    <td><a href="/profile/<%=top.result[0][i].userIdBot%>"><%=top.result[0][i].loginUser%></a></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <% }} %>
</div>
<% } else {
if(session.type == "admin"){
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1><span class="fa fa-sign-in"></span> Hello Admin!</h1>
    </div>
</div>
<%
}
if(session.type){
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 bomber-block">
        <h1><i class="fa fa-globe" aria-hidden="true"></i> Hello <%= session.login %>!</h1>


    </div>
</div>
<%
}
}
%>

<% include ./partials/footer %>

</body>
</html>
